html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body>div {
  height: 100%;
}
img {
  max-width: 100%;
}

.successButton button {
  background-color: #51D399 !important;
}
button:disabled,
button[disabled].successButton {
  background-color: rgba(81, 211, 153, 0.6) !important;
  cursor: not-allowed !important;
}
.dangerButton button {
  background-color: crimson !important;
}


.wallpaper,
.wallpaper-faded {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 100%;
  position: absolute;
}

.wallpaper {
  /* background-image: url("https://www.meistertask.com/images/wallpapers/RHwFy48z.jpg"); */
  background-image: url('../backgrounds/2_original2.jpg');
  background-size: cover;
  background-position: center center;
  opacity: .05;
}

.wallpaper-faded {
  clip: rect(0px 200px auto 0px);
  background-image: url('../backgrounds/2_blur2.jpg');
  background-size: cover;
  background-position: center center;
  width: initial!important;
}