.labels-picker {
  display: flex;
  flex-direction: column; }
  .labels-picker .label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2px; }
    .labels-picker .label .name {
      flex: 1;
      font-size: 14px; }
    .labels-picker .label .label-icon {
      width: 18px !important;
      height: 18px !important;
      padding: 5px; }
    .labels-picker .label .check-icon {
      width: 18px !important;
      height: 18px !important;
      padding: 5px; }

.check-list-wrapper {
  margin-bottom: 10px; }
  .check-list-wrapper h5.subheader {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
    cursor: pointer; }
  .check-list-wrapper h5.subheader p {
    margin: 5px; }
  .check-list-wrapper .checklist-item:hover .checklist-item-remove {
    display: block !important; }
  .check-list-wrapper .checklist-item {
    padding: 10px 60px 10px 42px !important; }
  .check-list-wrapper .checklist-item-checkbox {
    left: 0 !important;
    top: 5px !important; }
  .check-list-wrapper .checklist-item-remove {
    top: -5px !important;
    display: none !important;
    margin-right: 0 !important; }

.modal-header {
  background: ghostwhite; }

.modal-header > div {
  background: ghostwhite;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center; }

.close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer; }

.AddEntry .modal-header {
  display: flex;
  justify-content: center;
  color: #6b7c93;
  text-align: center;
  border-bottom: 1px solid #f7f7f7; }

.AddEntry .modal-content {
  display: flex;
  flex-direction: row; }
  .AddEntry .modal-content .left {
    display: flex;
    flex-direction: column;
    flex: 7;
    padding: 20px; }
  .AddEntry .modal-content .right {
    display: flex;
    flex: 3;
    padding: 20px;
    border-left: 1px solid #eee;
    flex-direction: column; }

.AddEntry .modal-footer {
  display: flex;
  justify-content: flex-end;
  color: #6b7c93;
  text-align: center;
  border-top: 1px solid #f7f7f7;
  margin-bottom: 10px; }

.AddEntry .field-wrap {
  margin-bottom: 10px;
  width: 100%; }

.AddEntry .labels-select-area {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee; }
  .AddEntry .labels-select-area .labels-heading {
    margin: 0 10px;
    flex: 1; }

.AddEntry .label-single {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #f8f8ff;
  padding: 5px 2px; }
  .AddEntry .label-single .label-filled-icon {
    width: 18px !important;
    height: 18px !important;
    margin-right: 10px; }

.AddEntry .label-name {
  flex: 1;
  font-size: 14px; }

.labels-popover {
  padding: 5px;
  min-width: 160px;
  justify-content: space-around; }
  .labels-popover .labels-popover-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0; }
    .labels-popover .labels-popover-header strong {
      color: #2b1a51;
      font-size: 13px; }
  .labels-popover.no-available-labels {
    display: flex;
    flex-direction: column;
    width: 155px;
    align-items: center;
    padding: 15px; }
    .labels-popover.no-available-labels small {
      text-align: center;
      color: #6b7c93; }

.field-wrap.with-icon {
  display: flex;
  flex-direction: row; }
  .field-wrap.with-icon .icon {
    background: #f2f2f2;
    height: 26px;
    margin-top: 23px;
    padding: 5px; }
  .field-wrap.with-icon .datepicker-wrapper input {
    border: 0 !important;
    background-color: rgba(0, 0, 0, 0.02) !important; }
  .field-wrap.with-icon .datepicker-wrapper label {
    left: -33px; }
  .field-wrap.with-icon .location-label {
    margin: 3px 10px 10px 10px;
    font-weight: 400; }
  .field-wrap.with-icon .location-icon {
    color: #f44336 !important; }
