.check-list-wrapper {
  margin-bottom: 10px; }
  .check-list-wrapper h5.subheader {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
    cursor: pointer; }
  .check-list-wrapper h5.subheader p {
    margin: 5px; }
  .check-list-wrapper .checklist-item:hover .checklist-item-remove {
    display: block !important; }
  .check-list-wrapper .checklist-item {
    padding: 10px 60px 10px 42px !important; }
  .check-list-wrapper .checklist-item-checkbox {
    left: 0 !important;
    top: 5px !important; }
  .check-list-wrapper .checklist-item-remove {
    top: -5px !important;
    display: none !important;
    margin-right: 0 !important; }
