@import './LabelsPicker/labels-picker.scss';
@import './CheckList/checkList.scss';

.modal-header {
  background: ghostwhite;
}

.modal-header>div {
  background: ghostwhite;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.AddEntry {
  .modal-header {
    display: flex;
    justify-content: center;
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
  }
  .modal-content {
    display: flex;
    flex-direction: row;
    .left {
      display: flex;
      flex-direction: column;
      flex: 7;
      padding: 20px;
    }
    .right {
      display: flex;
      flex: 3;
      padding: 20px;
      border-left: 1px solid #eee;
      flex-direction: column;
    }
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    color: #6b7c93;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    margin-bottom: 10px;
  }
  .field-wrap {
    margin-bottom: 10px;
    width: 100%;
  }
  .labels-select-area {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    .labels-heading {
      margin: 0 10px;
      flex: 1;
    }
  }
  .label-single {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f8f8ff;
    padding: 5px 2px;
    .label-filled-icon {
      width: 18px !important;
      height: 18px !important;
      margin-right: 10px;
    }
  }
  .label-name {
    flex: 1;
    font-size: 14px
  }
}
.labels-popover {
  padding: 5px;
  min-width: 160px;
  justify-content: space-around;
  .labels-popover-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    strong {
      color: #2b1a51;
      font-size: 13px;
    }
  }

  &.no-available-labels {
    display: flex;
    flex-direction: column;
    width: 155px;
    align-items: center;
    padding: 15px;
    small {
      text-align: center;
      color: rgb(107, 124, 147);
    }
  }
}

.field-wrap.with-icon {
  display: flex;
  flex-direction: row;
  .icon {
    background: #f2f2f2;
    height: 26px;
    margin-top: 23px;
    padding: 5px;
  }
  .datepicker-wrapper {
    input {
      border: 0 !important;
      background-color: rgba(0, 0, 0, 0.02) !important;
    }
    label {
      left: -33px;
    }
  }

  .location-label {
    margin: 3px 10px 10px 10px;
    font-weight: 400;
  }
  .location-icon {
    color: #f44336 !important;
  }
}